<section class="home-section">
    <div class="overlay"></div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 m-auto text-center">
                    <div class="content-wrapper">
                        <p>Welcome To</p>
                        <h1>OMDB API APP</h1>
                        <a href="" routerLink="/movies" class="btn btn-outline- btn-customised btn-lg text-white">START
                            NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <video width="100%" autoplay="autoplay" loop="loop" #homeVideo>
        <div>asdas</div>
        <source src="https://1107786149.rsc.cdn77.org/countdown-hp.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>