.page-title h1 {
    font-style:italic;
    font-family: fantasy;
}


/*Responsive*/

@media screen and (max-width:480px) {
    .sm-herolo-title {
        font-size:2.5rem;
    }

    .sm-herolo-subtitle {
        font-size:1rem;
    }

    .float-xs-none {
        display: block;
        margin-top: 1rem;
        float:none !important;
    }
}